@import "../styles/globals.scss";

// Body
$body-behaviour-overflow: hidden;
$body-bg-behaviour-pointer-events: none;

// Banner
$banner-behaviour-user-select: none;
$banner-behaviour-overflow: hidden;
$bannertxt-behaviour-display: grid;
$bannertxt-behaviour-justify-content: $global-center;
$bannertxt-behaviour-align-items: $global-center;
$bannertxt-behaviour-text-align: $global-center;
$bannertxt-behaviour-user-select: none;
$banner-techwrapper-behaviour-display: flex;
$banner-techwrapper-behaviour-justify-self: $global-center;
$banner-techwrapper-behaviour-justify-content: space-around;
$banner-arrow-behaviour-display: flex;
$banner-arrow-behaviour-justify-content: $global-center;
$banner-arrow-behaviour-text-align: $global-center;
$banner-arrow-behaviour-cursor: pointer;
$banner-arrow-behaviour-animation: 2s infinite;
$banner-arrow-icon-behaviour-transition: 0.5s ease;

// Banner - arrow
$banner-arrow-icon-behaviour-transform-rotate-bottom: rotate(-90deg);
$banner-arrow-icon-behaviour-transform-rotate-top: rotate(90deg);

// Banner - arrow animation
$banner-arrow-behaviour-animation-1: translateY(0);
$banner-arrow-behaviour-animation-2: translateY(-15px);
$banner-arrow-behaviour-animation-3: translateY(0);

// InfoCard
$infocard-behaviour-transition: 0.5s ease-in-out;
$infocard-behaviour-transfrom: translate(-50%, -50%);
$infocard-behaviour-display: grid;
$infocard-behaviour-grid-type: repeat(auto-fit, minmax(250px, 1fr));
$infocard-behaviour-grid-gap: 50px;
$infocard-behaviour-text-align: $global-center;

// CardDetails
$carddetails-behaviour-overflow: hidden;
$carddetails-description-p-behaviour-text-align: center;