// Banner
$bannertxt-font: 'Courier New',
Courier,
monospace;

$bannertxt-font-text-shadow: 3px 0px 7px black,
-3px 0px 7px black,
0px 4px 7px black;

$bannertxt-font-size-h1: 5rem;
$bannertxt-font-size-p: 2.5rem;

// InfoCard
$infocard-font-size: 2em;
$infocard-h1-font-size: 0.8em;
$infocard-h1-font-style: italic;

// cardDetails
$carddetails-h1-font-size: 2.5em;
$carddetails-description-p-font-size: 2em;
$carddetails-closecaption-font-size: 1.5em;
$carddetails-closecaption-font-style: italic;