// Banner
$bannertxt-font: 'Courier New',
Courier,
monospace;

$bannertxt-font-text-shadow: 3px 0px 7px black,
-3px 0px 7px black,
0px 4px 7px black;

$bannertxt-font-size-h1: 5rem;
$bannertxt-font-size-p: 2.5rem;