body {
    overflow: hidden;
}

.backgroundImage img {
   position: absolute;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   filter: blur(50px) brightness(0.4);
   transform: scale(2);
   z-index: -5;
}